.header {
  background-color: rgba(204, 204, 204, 255);
  height: 20%;
}
h1 {
  padding: 1.5% 0% 0% 3%;
  font-family: roboto;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
  border-right: 1px solid #bbb;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: roboto;
}

li a:hover {
  background-color: #111;
}
li a:active {
  background-color: rgba(0, 140, 34, 255);
}
.main {
  display: flex;
  justify-content: space-between;
}
.column {
  float: left;
  margin-left: 3%;

  font-family: Roboto;
}
.left {
  text-align: left;
  width: 90%;
}
.column .left h1 {
  margin-left: -2.5%;
  margin-top: 0%;
  color: rgba(0, 61, 96, 255);
}
.column .left p {
  margin-top: -2%;
}
#one {
  background-color: rgba(224, 224, 224, 255);
  width: 150%;
}
.right {
  text-align: left;
}
.column .right p {
  margin-top: -6.5%;
  padding-left: 10%;
  padding-right: 8%;
  text-align: left;
}
.column .right h2 {
  padding-left: 10%;
  color: rgba(0, 61, 96, 255);
}
.foot {
  background-color: rgba(204, 204, 204, 255);
  padding: 8px;
  text-align: end;
}
.foot p {
  font-family: Roboto;
  font-weight: bold;
}
